html {
    background-color: rgb(35, 35, 35);
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: large;
}

nav {
    background: linear-gradient(to right bottom, #8b00c2, #3b00dd);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-left: 10px;
    margin-right: 10px;
    align-items: center;
}

ul {
    list-style: none;
    width: 100%;
    display: inline;
    padding-right: 75px;
}

.icon {
    filter: invert(100%);
    width: 50px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0);
}

.title {
    width: 65px;
    height: 65px;
    margin-left: 10px;
    border-radius: 65px;
}

.scrolling-base {
    overflow-y: auto;
    max-height: 100%;
    text-align: center;
}